{% extends "orga/mails/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load form_errors %}
{% load i18n %}
{% load static %}

{% block extra_title %}{% translate "Email editor" %} ::
{% endblock extra_title %}

{% block mail_content %}
    {% block recipient_filters %}{% endblock recipient_filters %}
    <form method="post" class="form-with-placeholder{% if not form.is_bound %} no-floating-submit{% endif %}">
        {% csrf_token %}
        <div class="mb-2">
            <h2 class="d-inline">
                {% block email_editor_title %}
                    {% translate "Email editor" %}
                {% endblock email_editor_title %}
            </h2>
            <h3 class="d-inline ml-1">
                <small class="text-muted">
                    {% block email_editor_title_detail %}{% endblock email_editor_title_detail %}
                </small>
            </h3>
            {% form_errors form %}
        </div>
        <div id="placeholder-neighbour">
            {% include "orga/mails/_placeholder_column.html" %}

            <fieldset>
                <legend>{% translate "Recipients" %}</legend>
                {% block recipient_form %}{% endblock recipient_form %}
                <details class="card">
                    <summary class="card-header">{% translate "Advanced settings" %}</summary>
                    <div class="card-body">
                        {% block advanced_recipient_form %}
                            {{ form.reply_to.as_field_group }}
                            {{ form.bcc.as_field_group }}
                        {% endblock advanced_recipient_form %}
                    </div>
                </details>
            </fieldset>

            <fieldset>
                <legend>{% translate "Content" %}</legend>
                {{ form.subject.as_field_group }}
                {{ form.text.as_field_group }}
            </fieldset>
        </div>

        {% block email_editor_warnings %}
            {% if form.is_bound and not form.errors %}
                <div class="mt-4" id="mail-editor-warnings">
                    {% if form.warnings %}
                        {% #alert level="warning" %}
                        {% blocktranslate trimmed %}
                            You have placeholders in your email that are either not valid or not valid for every email!
                        {% endblocktranslate %}
                        <ul>
                            {# &#123; is the HTML entity for {, which would break django template syntax #}
                            {% for w in form.warnings %}<li>&#123;{{ w }}}</li>{% endfor %}
                        </ul>
                        {% blocktranslate trimmed %}
                            Emails where placeholders are invalid will <strong>not</strong> be created! For example, if
                            you are using {session_room}, but some proposals don’t have a room yet, only emails for
                            proposals with a scheduled room will be created.
                        {% endblocktranslate %}
                        {% /alert %}
                    {% endif %}
                    {% block email_preview_warnings %}
                    {% endblock email_preview_warnings %}
                </div>
            {% endif %}
        {% endblock email_editor_warnings %}

        {% block email_editor_preview %}
            {% if output %}
                <fieldset class="mt-4" id="mail-editor-preview">
                    <legend id="preview">{% translate "Email preview" %}</legend>
                    {% #alert level="info" %}
                    {% blocktranslate trimmed with count=mail_count %}
                        Roughly {{ count }} emails will be generated.
                    {% endblocktranslate %}
                    {% /alert %}
                    <div class="tab-pane mail-preview-group i18n-form-group">
                        {% for locale, out in output.items %}
                            <div {% if output|length > 1 %}lang="{{ locale }}"{% endif %} class="mail-preview">
                                <strong>{{ out.subject|safe }}</strong>
                                <br>
                                <br>
                                {{ out.html|safe }}
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            {% endif %}
        {% endblock email_editor_preview %}

        {% block skip_queue %}
            {% if form.skip_queue and request.method == "POST" %}
                <hr>
                {{ form.skip_queue.as_field_group }}
            {% endif %}
        {% endblock skip_queue %}

        {% if confirm_skip_queue %}
            {% #alert level="danger" id="mail-editor-skip-queue-confirm" %}
            <strong>
                {% blocktranslate trimmed count count=mail_count %}
                    You are about to immediately send {{ count }} email.
                {% plural %}
                    You are about to immediately send {{ count }} emails.
                {% endblocktranslate %}
            </strong>
            <br>
            {% blocktranslate trimmed %}
                These emails will be sent right now instead of being placed in the outbox. You will not be able to
                review or recall them. Please confirm that you want to send them.
            {% endblocktranslate %}
            {% /alert %}
        {% endif %}

        {% include "orga/includes/submit_row.html" %}
    </form>
{% endblock mail_content %}
