{% extends "orga/mails/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load history %}
{% load i18n %}
{% load static %}

{% block extra_title %}{% translate "Email editor" %} ::
{% endblock extra_title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'orga/css/forms/i18n.css' %}">
    {% if history_log_entries %}
        <link rel="stylesheet" href="{% static 'orga/css/ui/history.css' %}">
    {% endif %}
{% endblock stylesheets %}

{% block scripts %}
    {{ block.super }}
    {% if history_log_entries %}
        <script defer src="{% static 'common/js/ui/history-dialog.js' %}"></script>
    {% endif %}
{% endblock scripts %}

{% block mail_content %}
    {% #page_heading %}
    {% translate "Email editor" %}
    {% /page_heading %}
    {% if history_log_entries %}{% include "orga/includes/tablist.html" %}{% endif %}
    <section
        {% if history_log_entries %}
            role="tabpanel"
            id="tabpanel-email"
            aria-labelledby="tab-email"
            tabindex="0"
            aria-hidden="false"
        {% endif %}
    >
        {% if form.instance.sent %}
            {% #alert level="info" %}
            {% blocktranslate trimmed with timestamp=form.instance.sent %}
                This email was sent on {{ timestamp }}.
            {% endblocktranslate %}
            {% /alert %}
        {% elif form.instance.has_error %}
            {% #alert level="danger" %}
            {% translate "This email failed to send:" %}
            {% if form.instance.error_data.smtp_code %}
                SMTP {{ form.instance.error_data.smtp_code }}{% else %}{{ form.instance.error_data.type }}
            {% endif %}
            {% if form.instance.error_data.error %}({{ form.instance.error_data.error }}){% endif %}
            {% /alert %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% if not form.read_only %}
                {{ form }}
                {% include "orga/includes/extra_forms.html" %}
                {% include "orga/includes/submit_row.html" %}
            {% else %}
                <div class="d-flex flex-column">
                    {% #form_row value_class="mt-2" %}
                    {% #slot label %}To{% /slot %}
                    {% #slot field %}
                    {{ form.instance.to|default:"-" }}
                    {% /slot %}
                    {% /form_row %}

                    {% if form.to_speakers %}
                        {% #form_row value_class="mt-2" %}
                        {% #slot label %}{% translate "To speakers" %}{% /slot %}
                        {% #slot field %}
                        {% for speaker in form.instance.to_speakers.all %}
                            <a
                                href="{% url 'orga:speakers.view' event=request.event.slug code=speaker.code %}"
                            >{{ speaker.get_display_name }}</a>{% if not forloop.last %},
                            {% endif %}
                        {% endfor %}
                        {% /slot %}
                        {% /form_row %}
                    {% endif %}
                    {% #form_row value_class="mt-2" %}
                    {% #slot label %}Reply-To{% /slot %}
                    {% #slot field %}
                    {{ form.instance.reply_to|default:"-" }}
                    {% /slot %}
                    {% /form_row %}

                    {% #form_row value_class="mt-2" %}
                    {% #slot label %}CC{% /slot %}
                    {% #slot field %}
                    {{ form.instance.cc|default:"-" }}
                    {% /slot %}
                    {% /form_row %}

                    {% #form_row value_class="mt-2" %}
                    {% #slot label %}BCC{% /slot %}
                    {% #slot field %}
                    {{ form.instance.bcc|default:"-" }}
                    {% /slot %}
                    {% /form_row %}

                    {% #form_row value_class="mt-2" %}
                    {% #slot label %}Subject{% /slot %}
                    {% #slot field %}
                    {{ form.instance.subject }}
                    {% /slot %}
                    {% /form_row %}

                    {% #form_row value_class="mt-2" %}
                    {% #slot label %}Text{% /slot %}
                    {% #slot field %}
                    {{ form.instance.body_html }}
                    {% /slot %}
                    {% /form_row %}
                </div>

                {% for extra_form in extra_forms %}
                    <fieldset>
                        {% if extra_form.label %}<legend>{{ extra_form.label }}</legend>{% endif %}
                        {{ extra_form }}
                    </fieldset>
                {% endfor %}
            {% endif %}
        </form>
        {% if copy_to_draft_url %}
            {% if copy_to_draft_method == "post" %}
                <form method="post" action="{{ copy_to_draft_url }}" class="submit-group flex-row-reverse">
                    {% csrf_token %}
                    <span>
                        <button type="submit" class="btn btn-success">
                            {% translate "Copy to draft" %}
                        </button>
                    </span>
                </form>
            {% else %}
                <div class="submit-group flex-row-reverse">
                    <span>
                        <a href="{{ copy_to_draft_url }}" class="btn btn-success">
                            {% translate "Copy to draft" %}
                        </a>
                    </span>
                </div>
            {% endif %}
        {% endif %}
    </section>
    {% if history_log_entries %}{% history_tab %}{% endif %}
{% endblock mail_content %}
