{% extends "agenda/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}
{% load rich_text %}
{% load static %}

{% block agenda_stylesheets %}
    <link rel="stylesheet" href="{% static 'agenda/css/feedback.css' %}">
{% endblock agenda_stylesheets %}

{% block content %}
    {% #page_heading %}
    <a href="{{ talk.urls.public }}">
        {% translate "Feedback" %}: {{ quotation_open }}{{ talk.title }}{{ quotation_close }}
    </a>

    {% #slot subtitle %}
    <small class="text-muted">{{ talk.display_speaker_names }}</small>
    {% /slot %}
    {% /page_heading %}
    <div class="feedback-list">
        {% for opinion in feedback %}
            <div class="feedback-box">
                {% if opinion.speaker and talk.speakers.count > 1 %}
                    <div class="feedback-personal">
                        <em>
                            {% translate "This feedback is for you personally, not for all speakers in this session." %}
                        </em>
                    </div>
                {% endif %}
                <i class="fa fa-quote-left quote" aria-hidden="true"></i>
                <div class="feedback-text">{{ opinion.review|rich_text }}</div>
                <i class="fa fa-quote-right quote quote-close" aria-hidden="true"></i>
            </div>
        {% empty %}
            {{ phrases.schedule.no_feedback }}
        {% endfor %}
    </div>
{% endblock content %}
