<!--
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/schedule/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_title %}{% translate "Export schedule data" %} :: {% endblock extra_title %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "common/css/ui/export.css" %}" />
{% endblock stylesheets %}

{% block schedule_content %}
    <h2>{% translate "Export schedule data" %}</h2>

    <div hx-get="?async_id={{ async_id }}"
         hx-trigger="every 2s"
         hx-swap="innerHTML">
        {% include "orga/includes/async_download.html#waiting-spinner" %}
    </div>
{% endblock schedule_content %}
