{% extends "orga/schedule/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load datetimerange %}
{% load event_tags %}
{% load i18n %}
{% load phrases %}
{% load vite %}

{% block scripts %}
    {% vite_hmr %}
    {% vite_asset "schedule-editor/src/main.js" %}
{% endblock scripts %}

{% block extra_title %}{{ phrases.schedule.schedule }} ::
{% endblock extra_title %}

{% block navbar_right %}
    <li class="nav-item">
        <a class="nav-link text-danger">
            <i class="fa fa-clock-o"></i>
            {% phrase "phrases.schedule.timezone_hint" tz=request.event.timezone|timezone_name %}
        </a>
    </li>
{% endblock navbar_right %}

{% block schedule_content %}
    <div class="schedule-header">
        <div id="schedule-action-wrapper" class="align-items-center ml-auto d-print-none d-none">
            <a
                id="schedule-release"
                href="{{ request.event.orga_urls.release_schedule }}"
                class="btn ml-2 btn-primary"
            ><i class="fa fa-plus"></i> {% translate "New release" %}</a>
            <div class="ml-2">
                {% #dropdown_menu trigger_class="btn btn-secondary" align="sw" %}
                {% #slot trigger %}
                {% translate "Actions" %}

                {% /slot %}
                {% #dropdown_menu_entry href=request.event.wip_schedule.urls.public icon="link" target="_blank" %}
                {% translate "View in frontend" %}
                {% /dropdown_menu_entry %}
                <form method="post" action="{{ request.event.orga_urls.toggle_schedule }}">
                    {% csrf_token %}
                    {% if request.event|get_feature_flag:"show_schedule" %}
                        {% #dropdown_menu_entry icon="eye" %}{% translate "Hide schedule" %}{% /dropdown_menu_entry %}
                    {% else %}
                        {% #dropdown_menu_entry icon="eye" %}{% translate "Make schedule public" %}{% /dropdown_menu_entry %}
                    {% endif %}
                </form>
                {% #dropdown_menu_entry href=request.event.orga_urls.submission_cards icon="print" %}
                {% translate "Print cards" %}
                {% /dropdown_menu_entry %}
                <form method="post" action="resend_mails">
                    {% csrf_token %}
                    {% #dropdown_menu_entry icon="envelope" %}
                    {% translate "Resend speaker notifications" %}
                    {% /dropdown_menu_entry %}
                </form>
                {% /dropdown_menu %}
            </div>
        </div>
    </div>
    {% if not request.event.rooms.visible.count %}
        <div class="p-3">
            {% #alert level="warning" %}
            {% translate "You can start planning your schedule once you have configured some rooms for sessions to take place in." %}
            {% #slot actions %}
            <a href="{{ request.event.orga_urls.new_room }}">{% translate "Configure rooms" %}</a>
            {% /slot %}
            {% /alert %}
        </div>
    {% else %}
        <div id="app" data-gettext="{{ gettext_language }}"></div>
    {% endif %}
{% endblock schedule_content %}
