{% extends "orga/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2019-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}

{% block extra_title %}{% translate "Update check results" %} ::
{% endblock extra_title %}

{% block content %}
    <h2>{% translate "Update check results" %}</h2>

    {% if not gs.settings.update_check_enabled %}
        <div class="alert alert-warning">{% translate "Update checks are disabled." %}</div>
    {% else %}
        {% if not gs.settings.update_check_last %}
            <div class="alert alert-info">
                {% translate "No update check has been performed yet since the last update of this installation. Update checks are performed on a daily basis if your cronjob is set up properly." %}
            </div>
        {% elif result_table.error %}
            <div class="alert alert-danger">
                {% translate "The last update check was not successful." %}
                {% if result_table.error == "http_error" %}
                    {% translate "The pretalx.com server returned an error code." %}
                {% elif result_table.error == "unavailable" %}
                    {% translate "The pretalx.com server could not be reached." %}
                {% elif result_table.error == "development" %}
                    {% translate "This installation appears to be a development installation." %}
                {% endif %}
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <p class="d-flex flex-baseline">
                {% if gs.settings.update_check_last %}
                    {% blocktranslate trimmed with date=gs.settings.update_check_last|date:"SHORT_DATETIME_FORMAT" %}
                        Last updated: {{ date }}
                    {% endblocktranslate %}
                {% endif %}
                <button type="submit" name="trigger" value="1" class="btn btn-outline-info flip ml-auto">
                    <i class="fa fa-refresh mr-2"></i>
                    {% translate "Check for updates now" %}
                </button>
            </p>
        </form>
        {% if not result_table.error %}
            <div class="table-responsive-md">
                <table class="table table-condensed table-flip table-sticky">
                    <thead>
                        <tr>
                            <th>{% translate "Component" %}</th>
                            <th class="numeric">{% translate "Installed version" %}</th>
                            <th class="numeric">{% translate "Latest version" %}</th>
                            <th>{% translate "Status" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in result_table %}
                            <tr>
                                <td>{{ row.name }}</td>
                                <td class="numeric">{{ row.installed }}</td>
                                <td class="numeric">{{ row.latest|default:"–" }}</td>
                                <td>
                                    {% if row.updatable %}
                                        <span class="badge color-warning">
                                            <i class="fa fa-arrow-circle-up"></i>
                                            {% translate "Update available" %}
                                        </span>
                                    {% elif row.latest %}
                                        <span class="badge color-success">
                                            <i class="fa fa-check-circle"></i>
                                            {% translate "Up to date" %}
                                        </span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}

    <h2>{% translate "Update check settings" %}</h2>

    {% include "orga/includes/base_form.html" %}
{% endblock content %}
