{% extends "orga/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2018-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}

{% block extra_title %}{% translate "Teams" %} ::
{% endblock extra_title %}

{% block content %}
    <form class="mb-4 m-2">
        <input
            type="text"
            name="q"
            class="form-control"
            value="{% if request.GET.q %}{{ request.GET.q }}{% endif %}"
            placeholder="{{ phrases.base.search }}"
        >
    </form>
    {% #page_heading %}
    {% translate "Organisers" %}
    {% #slot buttons %}
    {% if request.user.is_administrator %}
        <a class="btn btn-primary" href="{% url 'orga:organiser.create' %}">{% translate "New organiser" %}</a>
    {% endif %}
    {% /slot %}
    {% /page_heading %}
    {% if organisers %}
        <table>
            <thead>
                <tr>
                    <th>{% translate "Name" %}</th>
                    <th class="numeric">{% translate "Events" %}</th>
                    <th class="numeric">{% translate "Teams" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for organiser in organisers %}
                    <tr>
                        <td data-primary><a href="{{ organiser.orga_urls.base }}">{{ organiser.name }}</a></td>
                        <td class="numeric">{{ organiser.event_count }}</td>
                        <td class="numeric">
                            <a href="{{ organiser.orga_urls.teams }}">{{ organiser.team_count }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if not organisers and not can_create_organiser %}
        {% #alert level="info" %}{% translate "There are no organisers you can edit." %}{% /alert %}
    {% endif %}
{% endblock content %}
