/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

#auth-form {
  flex-direction: row;
  .form-group {
    flex-direction: column;
  }
  .auth-form-block {
    margin: 12px;
    flex-basis: 100%;
  }
  .optional {
    display: none;
  }
}
