/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.file-input-thumb {
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  border-radius: 3px;
  background: var(--color-bg-softer);
  cursor: pointer;
}
