/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.labelless-password-input-form {
  margin-left: auto;
  margin-right: auto;

  .form-group {
    flex-direction: column;
  }

  input.password_strength,
  input.password_confirmation {
    height: 100%;
    display: block;
    width: 100%;
    flex-grow: 1;
  }
}
input.password_strength {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  &:focus {
    border-bottom: 0;
    + .password-progress .password-progress-bar {
      border: #89d6b8 2px solid;
      border-top: 0;
    }
  }
}
.password-input-form,
.labelless-password-input-form {
  p.text-muted {
    font-size: 80%;
    padding-top: 2px;
    padding: 0;
    margin-bottom: 0;
    color: var(--color-text-lighter);
  }

  .password-progress {
    margin-top: 0 !important;

    .password-progress-bar {
      height: 4px;
      margin-bottom: 0 !important;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }
}

.password_strength_info {
  margin-bottom: 0;
}
