/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.feedback-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 1rem;
}

.feedback-list .feedback-box {
  border: var(--color-border) 1px solid;
  border-radius: var(--size-border-radius);
  padding: 16px 20px;

  .feedback-personal {
    margin-bottom: 8px;
  }

  .quote {
    display: block;
    font-size: 1.5rem;
    line-height: 1;
    color: rgb(0 0 0 / 0.56);
  }

  .quote-close {
    text-align: right;
  }

  .feedback-text {
    padding: 0 24px;
  }
}
