{% comment %}
SPDX-FileCopyrightText: 2026-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load phrases %}
{% if errors or field_errors or generic %}
    {% #alert level="danger" %}
    {% if generic %}
        {% phrase "phrases.base.error_saving_changes" %}
    {% elif not field_errors and errors|length == 1 %}
        {{ errors.0 }}
    {% else %}
        <div class="error-summary">
            {% if field_errors %}
                <div>{% phrase "phrases.base.error_saving_changes" %}</div>
            {% endif %}
            {% for error in errors %}
                <div>{{ error }}</div>
            {% endfor %}
            {% for field in field_errors %}
                <div>
                    {% if field.auto_id %}
                        <a href="#group_{{ field.auto_id }}">{{ field.label }}</a>
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                    – {{ field.errors|join:" " }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% /alert %}
{% endif %}
