<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}
{% load rich_text %}

<div class="card plugin-card{% if widget.plugin.highlighted %} plugin-highlighted{% endif %}">
    <div class="card-header">
        <label for="{{ widget.attrs.id }}">
            {{ widget.plugin.name }}
            {% if widget.plugin.highlighted %}
                <span class="badge badge-info">{% translate "Recommended" %}</span>
            {% endif %}
        </label>
        <input type="checkbox"
               name="{{ widget.name }}"
               value="{{ widget.value }}"
               id="{{ widget.attrs.id }}"
               {% if widget.selected %}checked{% endif %}>
    </div>
    {% with plugin=widget.plugin %}
        {% include "orga/includes/plugin_card_body.html" %}
    {% endwith %}
</div>
