/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

#anonymise {
  display: flex;
  flex-direction: column;
  > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: calc(100% - 24px);
    margin: 8px 16px;
    > div {
      flex-grow: 1;
      min-width: 300px;
      width: 48%;
    }
  }
}
#anon-menu {
  position: fixed;
  z-index: 1000;

  button {
    padding: 0;
    margin: 0;
    border: none;
    --anon-color: rgb(0 0 0 / 0.72);
    background-color: var(--anon-color);
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    position: relative;
    &:after {
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      content: " ";
      border-top: 12px solid var(--anon-color);
      position: absolute;
      right: 70%;
      bottom: -12px;
    }
  }
}
