<!--
SPDX-FileCopyrightText: 2024-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load formsets %}
{% load i18n %}
{% load static %}

<div class="formset form-group row" id="resource-upload" data-formset data-formset-prefix="{{ formset.prefix }}">
    {{ formset.management_form }}
    {{ formset.non_form_errors }}
    <label class="col-md-3 col-form-label">{% translate "Resources" %}</label>
    <div data-formset-body class="col-md-9">
        {% if can_edit and size_warning %}
            <div class="alert alert-info flip ml-auto">
                {% translate "Resources will be publicly visible unless marked as non-public." %}
                {{ size_warning }}
            </div>
        {% endif %}
        {% for form in formset %}
            <div data-formset-form class="resource-card mb-2">
                <div class="sr-only">
                    {{ form.id }}
                    {{ form.DELETE }}
                </div>
                {% include "common/forms/errors.html" %}
                {% if not form.errors and form.instance.pk %}
                    <div class="resource-option-row flip ml-auto d-flex">
                        <div class="d-flex flex-column flex-grow-1 mr-2 resource-option-input{% if permission_action == "view" %} disabled{% endif %}">
                            <div class="mb-2">
                                {{ form.description.as_field_group }}
                            </div>
                            {% if form.instance.link %}
                                {{ form.link.as_field_group }}
                            {% else %}
                                <label class="inline-form-label">{% translate "File" %}</label>
                                <div>
                                    <i class="fa fa-paperclip mr-1 ml-2 pt-1"></i> <a href="{{ form.instance.url }}">{{ form.instance.filename }}</a>
                                </div>
                            {% endif %}
                            <div class="resource-option-public mb-2 mt-3">
                                {{ form.is_public.as_field_group }}
                            </div>
                        </div>
                        {% if can_edit %}
                            <div class="resource-option-delete mt-3 pt-1">
                                <button type="button" class="btn btn-danger btn-sm mt-3" data-formset-delete-button>
                                    <i class="fa fa-trash"></i></button>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    {% include "cfp/includes/_resource_row.html" %}
                {% endif %}
            </div>
        {% empty %}
            <div class="mt-1">{% translate "This proposal has no resources yet." %}</div>
        {% endfor %}
    </div>
    {% if can_edit %}
        <script type="form-template" data-formset-empty-form="link">
            {% escapescript %}
                <div data-formset-form class="resource-card mb-2">
                <div class="sr-only">
                {{ formset.empty_form.id }}
                {{ formset.empty_form.DELETE }}
                </div>
                {% include "cfp/includes/_resource_row.html" with form=formset.empty_form show_link=True %}
                </div>
            {% endescapescript %}
        </script>
        <script type="form-template" data-formset-empty-form="file">
            {% escapescript %}
                <div data-formset-form class="resource-card mb-2">
                <div class="sr-only">
                {{ formset.empty_form.id }}
                {{ formset.empty_form.DELETE }}
                </div>
                {% include "cfp/includes/_resource_row.html" with form=formset.empty_form show_file=True %}
                </div>
            {% endescapescript %}
        </script>
        {% if permission_action != "view" %}
            <div class="col-md-9 offset-md-3 d-flex mt-2 gap-2">
                <button type="button" class="btn btn-info flex-grow-1" data-formset-add="link">
                    <i class="fa fa-link"></i> {% translate "Add a link" %}
                </button>
                <button type="button" class="btn btn-info flex-grow-1" data-formset-add="file">
                    <i class="fa fa-upload"></i> {% translate "Upload a file" %}
                </button>
            </div>
        {% endif %}
    {% endif %}
</div>
