<!--
SPDX-FileCopyrightText: 2026-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}
{% load render_table from django_tables2 %}

<div class="alert alert-info signup-info" id="signup-info">
    <h4>
        <i class="fa fa-user-plus"></i>
        {% translate "Attendee signup required" %}
    </h4>
    <p>
        {% blocktranslate trimmed %}
            Attendees are required to sign up for this session in advance.
        {% endblocktranslate %}
    </p>
    {% include "common/includes/signup_progress.html" with attendee_count=signup_attendee_count capacity=signup_capacity capacity_percent=signup_capacity_percent %}
    <p class="text-muted mt-2 mb-0">
        {% blocktranslate trimmed %}
            If you’d like to change how many people can sign up to this session,
            please get in touch with the organisers.
        {% endblocktranslate %}
    </p>
    {% if signup_table %}
        <p class="mt-3 mb-0">
            <button type="button" class="btn btn-outline-info btn-sm"
                    data-dialog-target="#signup-list-dialog">
                <i class="fa fa-users"></i>
                {% translate "Show signup list" %}
            </button>
        </p>
        <dialog id="signup-list-dialog" closedby="any">
            <div class="modal-card signup-list-dialog">
                <div class="modal-card-content">
                    <button type="button" class="dialog-close close-dialog"
                            aria-label="{% translate "Close" %}">
                        <i class="fa fa-times"></i>
                    </button>
                    <h4>{% translate "Signed up attendees" %}</h4>
                    <div class="table-responsive-always">
                        {% render_table signup_table "common/includes/table.html" %}
                    </div>
                </div>
            </div>
        </dialog>
    {% endif %}
</div>
