<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/base.html" %}

{% load i18n %}
{% load static %}
{% load history_sidebar %}

{% block extra_title %}{% translate "History detail" %} :: {% endblock extra_title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "orga/css/forms/i18n.css" %}">
    <link rel="stylesheet" href="{% static "orga/css/ui/history.css" %}">
{% endblock stylesheets %}

{% block content %}
    <h2>{% translate "Log Detail" %}</h2>
    {% include "orga/event/history_detail_content.html" %}
{% endblock content %}
