<!--
SPDX-FileCopyrightText: 2020-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_title %}{% translate "Event History" %} :: {% endblock extra_title %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "orga/css/forms/i18n.css" %}">
    <link rel="stylesheet" href="{% static "orga/css/ui/history.css" %}">
{% endblock stylesheets %}

{% block scripts %}
    <script defer src="{% static "vendored/htmx.min.js" %}"></script>
    <script defer src="{% static "common/js/ui/dialog.js" %}"></script>
    <script defer src="{% static "common/js/ui/history-dialog.js" %}"></script>
{% endblock scripts %}

{% block content %}
    <h2>{% translate "Event History" %}</h2>

    <div class="filter-group">
        <form class="search-form" role="search">
            {{ filter_form }}
            <button class="btn btn-info" type="submit">
                <i class="fa fa-filter"></i>
                {% translate "Filter" %}
            </button>
        </form>
    </div>

    <div class="dashboard-history">

        {% include "common/logs.html" with entries=log_entries %}
        {% include "orga/includes/pagination.html" %}

    </div>
{% endblock content %}
