/*
 * SPDX-FileCopyrightText: 2024-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

tr[dragsort-id] {
  &.drag-indicator.insert-before {
    th,
    td {
      border-top: 2px solid var(--color-text-lighter);
    }
  }
  &.drag-indicator.insert-after {
    th,
    td {
      border-bottom: 2px solid var(--color-text-lighter);
    }
  }
  &.dragging td {
    background-color: var(--color-grey-lighter);
  }
}
.dragging .dragsort-button {
  transform: translate(-9999px);
}
.dragsort-button:not(:disabled) {
  &,
  button {
    cursor: grab !important;
  }
  &:active {
    cursor: grabbing !important;
  }
}
div[dragsort-id] {
  &.drag-indicator.insert-before {
    box-shadow: 0 -2px var(--color-text-lighter);
  }
  &.drag-indicator.insert-after {
    box-shadow: 0 2px var(--color-text-lighter);
  }
  .dragging {
    cursor: grabbing !important;
  }
}
.speaker-sort-wrapper {
  padding: 0.5rem 0;
}
body.dragging .speaker-sort-wrapper .speaker-detail {
  display: none;
}
body.dragging .speaker-sort-wrapper .card-title {
  margin-bottom: 0;
}
.speaker-sort-wrapper.dragging {
  & > .card {
    border: 2px solid var(--color-primary);
    opacity: 0.7;
  }
  &.drag-indicator {
    box-shadow: none;
  }
}
thead.drag-indicator.insert-after {
  box-shadow: 0 2px var(--color-text-lighter);
}
.dragging {
  cursor: grabbing !important;
}
