/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.submission-featured {
  position: relative;
  text-align: center;

  i {
    position: absolute;
    right: 30%;
    top: 12px;
  }

  input[type="checkbox"] {
    margin-right: 16px;
  }

  .done {
    color: var(--color-success);
  }

  .fail {
    color: var(--color-danger);
  }
}
