/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

#fake-changelog {
  margin: 0 42px 24px 42px;
  border-top: 1px solid var(--color-grey-light);
  padding: 16px 24px;
  position: relative;
  border-radius: 3px;
  box-shadow: var(--shadow-light);
  .i18n-form-group {
    width: 100%;
  }
}
#release {
  .submit-group > span:first-child {
    display: flex;
  }
  .form-group {
    display: grid;
    margin-bottom: -8px;
    padding-right: var(--size-spacer);
    margin-right: var(--size-spacer);
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    input {
      grid-area: 1 / 1 / 3 / 2;
    }
    label {
      grid-area: 1 / 2 / 2 / 3;
    }
    small {
      grid-area: 2 / 2 / 3 / 3;
      margin-top: -6px;
      font-size: 80%;
      padding-left: 9px;
      a {
        color: var(--color-grey);
      }
    }
  }
}
