/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.phase-option-row .row,
.score-row .row {
  margin-bottom: 8px;
  .text-right input {
    text-align: right;
  }
}
.css-input-toggle {
  margin-top: 0.5rem;
}
.css-input .collapse > textarea {
  margin-top: var(--size-spacer);
}
