/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

.phase-option-row .row,
.score-row .row {
  margin-bottom: 8px;
  .text-right input {
    text-align: right;
  }
}
#csswrap > .form-group:first-child {
  margin-bottom: 0.5rem;
}
