/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

#stats {
  display: flex;
  flex-wrap: wrap;
  & > .page-heading {
    width: 100%;
  }
  .card {
    display: inline-flex;
    flex-grow: 1;
    margin: 4px;
    &.stats-timeline {
      width: 100%;
    }
  }
  .pie svg,
  .pie {
    min-height: 400px;
    min-width: 500px;
    max-width: 500px;
    margin: 0 auto;
  }
}
#question-stats {
  display: flex;
  flex-wrap: wrap;
  .table {
    width: auto;
    padding: 16px;
  }
  #question-answers {
    margin-right: 32px;
  }
}
