/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

#stats {
  display: flex;
  flex-wrap: wrap;
  & > .page-heading {
    width: 100%;
  }
  .card {
    display: inline-flex;
    flex-grow: 1;
    margin: 4px;
    &.stats-timeline {
      width: 100%;
    }
  }
  .pie svg,
  .pie {
    min-height: 400px;
    min-width: 500px;
    max-width: 500px;
    margin: 0 auto;
  }
}
.toggle-group.live-toggle {
  padding: 6px 14px;

  label.toggle-label {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-text-softer);
  }
  label.toggle-label:has(+ input[type="checkbox"]:not(:checked)),
  input[type="checkbox"]:checked + label.toggle-label {
    color: var(--color-primary-text);
  }
}

#question-stats {
  display: flex;
  flex-wrap: wrap;
  .table {
    width: auto;
    padding: 16px;
  }
  #question-answers {
    margin-right: 32px;
  }
}
