/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

details.submission-state-dropdown {
  display: inline-flex;
  border-radius: 6px;
  background-image: repeating-linear-gradient(
    315deg,
    var(--submission-color-primary),
    var(--submission-color-primary) 8px,
    var(--submission-color-secondary) 8px,
    var(--submission-color-secondary) 16px
  );
  padding: 3px;

  summary {
    color: var(--submission-color-primary);
    background-color: white;
    padding: 0.5rem;
    h4 {
      font-size: 0.875rem;
      margin-bottom: 0;
      display: inline-flex;
      align-items: baseline;
      & > i.fa:first-child {
        padding: 0 6px 0 3px;
      }
    }
    .pending-indicator {
      padding-left: 2px;
      white-space: nowrap;
    }
    &:hover {
      background-color: inherit;
      color: white;
    }

    & > i.fa.fa-caret-down {
      margin-left: 10px;
    }
  }
  .dropdown-content {
    width: fit-content;
    z-index: 1000;
    a.dropdown-item {
      color: var(--submission-color-primary);
      &:hover {
        background-color: var(--submission-color-primary);
        color: white;
      }
    }
  }

  a {
    font-weight: bold;
    font-size: 16px;
  }
}
.comments-list {
  margin-bottom: 2rem;
}
.comment-header {
  display: flex;
  align-items: baseline;
}
.comment-content > p:last-child {
  margin-bottom: 0;
}
.submission-comment-count {
  font-size: 0.8em;
  margin-left: 0.5em;
  background: var(--color-primary-light);
  position: relative;
  color: var(--color-text);
  border-radius: 1em;
  padding: 0.25em 0.5em;
  min-width: 2.5em;
  display: inline-block;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: var(--color-primary-light);
    border-bottom: 0;
    border-left: 0;
    margin-left: 2px;
    margin-bottom: -5px;
  }
}
