/*
 * SPDX-FileCopyrightText: 2025-present Tobias Kunze
 * SPDX-License-Identifier: Apache-2.0
 */

dialog.table-preferences {
  max-height: 90vh;

  .modal-card-header {
    display: flex;
    position: relative;
  }
  select {
    min-width: 200px;
    width: 200px;
  }
  .btn {
    white-space: nowrap;
  }
  .submit-group {
    margin-bottom: -4px;
  }
  .col-md-5 {
    min-width: min-content;
  }

  .sort-preferences {
    .sort-row {
      gap: 0.5rem;

      label {
        min-width: 4rem;
        text-align: right;
      }
      .choices {
        width: auto;
        min-width: 180px;
      }
      .choices:first-of-type {
        flex: 1;
      }
    }
  }
}
td.answer {
  p {
    display: inline;
    margin: 0;
    padding: 0;
  }
  img {
    margin-top: 4px;
  }
}
