<!--
SPDX-FileCopyrightText: 2019-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/base.html" %}

{% load i18n %}
{% load static %}

{% block stylesheets %}
    {% if request.event.display_settings.header_pattern and request.event.display_settings.header_pattern != "plain" %}
        {% with "common/css/headers/"|add:request.event.display_settings.header_pattern|add:".css" as header_path %}
            <link rel="stylesheet" type="text/css" href="{% static header_path %}" />
        {% endwith %}
    {% endif %}
    <link rel="stylesheet" href="{% static "common/css/ui/stages.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "orga/css/ui/flow.css" %}" />
{% endblock stylesheets %}

{% block scripts %}
    {{ current_configuration|json_script:"currentConfiguration" }}
    {{ event_configuration|json_script:"eventConfiguration" }}

    {% if debug %}
        <script defer src="{% static "vendored/vue.js" %}"></script>
    {% else %}
        <script defer src="{% static "vendored/vue.min.js" %}"></script>
    {% endif %}
    <script defer src="{% static "vendored/marked.min.js" %}"></script>
    <script defer src="{% static "orga/js/ui/flow.js" %}"></script>
{% endblock scripts %}

{% block extra_title %}{% translate "CfP Editor" %} :: {% endblock extra_title %}

{% block content %}
    <h1>{% translate "CfP Editor" %}</h1>
    <p>
        {% blocktranslate trimmed %}
            This is the pretalx CfP editor. This page allows you to change the
            headline and information text on all of the individual CfP steps. You
            can also add a custom help text to individual fields. Just click on the
            item you want to change!
        {% endblocktranslate %}
    </p>
    <div id="flow"></div>
{% endblock content %}
