{% extends "common/widgets/file_input.html" %}
{% comment %}
SPDX-FileCopyrightText: 2024-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% block current_icon %}<img
        class="file-input-thumb"
        src="{{ widget.value.url }}"
        alt=""
        loading="lazy"
        data-lightbox
    >{% endblock %}
{% block current_link_attrs %}data-lightbox{% endblock %}
{% block preview %}<img class="file-input-preview" alt="" hidden>{% endblock %}
