<!--
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms

This file contains Apache-2.0 licensed contributions copyrighted by the following contributors:
SPDX-FileContributor: Raphael Michel
-->

{% extends "common/base.html" %}

{% load static %}

{% block custom_header %}
    {% block cfp_header %}{% endblock cfp_header %}
{% endblock custom_header %}


{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static "cfp/css/base.css" %}" />
    {% block cfp_stylesheets %}{% endblock cfp_stylesheets %}
{% endblock stylesheets %}

{% block nav_link %}{{ request.event.urls.base }}{% endblock nav_link %}
