<!--
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms

This file contains Apache-2.0 licensed contributions copyrighted by the following contributors:
SPDX-FileContributor: Raphael Michel
-->

{% load i18n %}

{% if as_badge %}<span class="badge submission-state submission-state-{{ state }}">{% endif %}
{% if state == "submitted" %}
    <i class="fa fa-inbox"></i> <span class="nowrap">{{ phrases.submission.submitted }}</span>
{% elif state == "review" %}
    <i class="fa fa-inbox"></i> <span class="nowrap">{{ phrases.submission.in_review }}</span>
{% elif state == "rejected" %}
    <i class="fa fa-ban"></i> <span class="nowrap">{{ phrases.submission.not_accepted }}</span>
{% elif state == "accepted" %}
    <i class="fa fa-check-circle"></i> <span class="nowrap">{% translate "accepted" %}</span>
{% elif state == "confirmed" %}
    <i class="fa fa-check-circle"></i> <span class="nowrap">{% translate "confirmed" %}</span>
{% elif state == "canceled" %}
    <i class="fa fa-times-circle"></i> <span class="nowrap">{% translate "canceled" %}</span>
{% elif state == "withdrawn" %}
    <i class="fa fa-times-circle"></i> <span class="nowrap">{% translate "withdrawn" %}</span>
{% elif state == "deleted" %}
    <i class="fa fa-times-circle"></i> <span class="nowrap">{{ phrases.submission.deleted }}</span>
{% endif %}
{% if as_badge %}</span>{% endif %}
