<!--
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "cfp/event/base.html" %}

{% load copyable %}
{% load form_media %}
{% load i18n %}
{% load static %}

{% block title %}{{ submission.title }} :: {% endblock title %}

{% block cfp_header %}
    <script defer src="{% static "common/js/ui/copy.js" %}"></script>
    <link rel="stylesheet" href="{% static "common/css/ui/tooltip.css" %}" />
{% endblock cfp_header %}

{% block scripts %}{% form_media always_base=True %}{% endblock scripts %}

{% block content %}

    {% include "cfp/includes/user_submission_header.html" %}

    <form method="post">
        {% include "common/forms/errors.html" %}
        {% csrf_token %}
        {{ form }}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="d-flex align-items-baseline">
                    <a class="col-md-3 btn btn-block btn-outline-info mr-auto btn-lg" href="{{ submission.urls.user_base }}">
                        {{ phrases.base.cancel }}
                    </a>
                    <button type="submit" class="btn col-md-3 btn-block btn-success btn-lg">
                        {{ phrases.base.send }}
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
