<!--
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "cfp/event/base.html" %}

{% load form_media %}
{% load i18n %}

{% block title %}{{ submission.title }} :: {% endblock title %}

{% block scripts %}
    {% form_media always_base=True %}
{% endblock scripts %}

{% block content %}
    <div class="col-md-10 ml-auto mr-auto">

        {% include "cfp/includes/user_submission_header.html" %}

        <div class="text">
            <p><strong>
                {% blocktranslate trimmed %}
                    Congratulations on your acceptance!
                {% endblocktranslate %}
            </strong></p>
            <p>
                {% blocktranslate trimmed %}
                    By confirming your proposal, you agree that you are able and willing to participate in this event and
                    present the content of this proposal.
                    The proposal data, such as title, abstract, description, and any uploads you provided, can be made
                    publicly available once the proposal is confirmed.
                {% endblocktranslate %}
            </p>
        </div>
        <div>
            {% if form.availabilities %}
                {% blocktranslate trimmed %}
                    Please provide us with your available hours during the event, so that we can schedule your event accordingly:
                {% endblocktranslate %}
                <p></p>
            {% endif %}
        </div>
        <div class="availability-form hide-label">
            {% include "orga/includes/base_form.html" %}
        </div>
    </div>
{% endblock content %}
