<!--
SPDX-FileCopyrightText: 2023-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "cfp/event/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{{ submission.title }} :: {% endblock title %}

{% block cfp_stylesheets %}
    <link rel="stylesheet" href="{% static "common/css/forms/base.css" %}">
{% endblock cfp_stylesheets %}

{% block content %}
    <div class="col-md-10 ml-auto mr-auto">

        {% include "cfp/includes/user_submission_header.html" %}

        <div class="alert alert-danger">
            {% blocktranslate trimmed %}
                Do you really want to discard your draft proposal? All data will be lost.
            {% endblocktranslate %}
        </div>
        {% include "orga/includes/base_form.html" %}
    </div>
{% endblock content %}
