{% comment %}
SPDX-FileCopyrightText: 2023-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load django_tables2 %}
{% load i18n %}

{% if table.filterset %}
    {% include "common/tables/filter_form.html" with filterset=table.filterset table_name=table.name %}
{% endif %}

{% block table-wrapper %}
    <div id="table-wrapper-{{ table.name }}" class="table-wrapper" data-table-name="{{ table.name }}">
        <div class="table-header">
            {% if table.filterset %}
                {% include "common/tables/filter_bar.html" with filterset=table.filterset table_name=table.name filtered_count=table.filtered_count %}
            {% endif %}
            {% include "common/includes/_table_toolbar.html" %}
        </div>
        <div
            id="table-content-{{ table.name }}"
            class="table-content"
            data-table-name="{{ table.name }}"
            aria-live="polite"
        >
            {% partial table-content %}
        </div>
    </div>
{% endblock table-wrapper %}

{% partialdef table-content %}
    {% include "common/includes/_table.html" %}

    {% block pagination %}
        {% include "common/includes/pagination.html" with page_obj=table.page %}
    {% endblock pagination %}

    {% comment %}
    When the table is requested as inline HTMX update (when re-sorting
    or filtering or searching), the filter pills and footer need to be
    updated, but also cannot be part of the table itself in general, or
    we would also inline-update the filter bar including the popover
    while it's open, which is inevitably janky.
    {% endcomment %}
    {% if is_table_partial and table.filterset %}
        <div id="filter-status-{{ table.name }}" hx-swap-oob="innerHTML">
            {% include "common/tables/filter_bar.html#filter-status" with filterset=table.filterset table_name=table.name %}
        </div>
        <div id="filter-footer-{{ table.name }}" hx-swap-oob="innerHTML">
            {% include "common/tables/filter_bar.html#filter-footer" with filterset=table.filterset table_name=table.name filtered_count=table.filtered_count %}
        </div>
    {% endif %}
{% endpartialdef table-content %}
