{% comment %}
SPDX-FileCopyrightText: 2023-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load django_tables2 %}
{% load i18n %}

{% block table-wrapper %}
    <div
        id="table-content-{{ table.name }}"
        class="table-content"
        data-table-name="{{ table.name }}"
        aria-live="polite"
    >
        {% partial table-content %}
    </div>
{% endblock table-wrapper %}

{% partialdef table-content %}
    {% include "common/includes/_table.html" %}

    {% block pagination %}
        {% include "common/includes/pagination.html" with page_obj=table.page %}
    {% endblock pagination %}
{% endpartialdef table-content %}
