{% comment %}
SPDX-FileCopyrightText: 2026-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}

<dialog
    {% if id %}id="{{ id }}"{% endif %}
    {% if size %}class="dialog-{{ size }}"{% endif %}
    {% if label %}aria-label="{{ label }}"{% elif header and id %}aria-labelledby="{{ id }}-title"{% endif %}
    closedby="any"
    {% if open %}open{% endif %}
>
    {% if header %}
        <div class="dialog-header">
            <h3 {% if id %}id="{{ id }}-title"{% endif %}>{{ header }}</h3>
            <button
                type="button"
                class="close-dialog"
                aria-label="{% translate 'Close' %}"
            >
                <i class="fa fa-times"></i>
            </button>
        </div>
    {% else %}
        <button
            type="button"
            class="dialog-close-floating close-dialog"
            aria-label="{% translate 'Close' %}"
        >
            <i class="fa fa-times"></i>
        </button>
    {% endif %}
    <div {% if content_id %}id="{{ content_id }}"{% endif %}>
        {{ children }}
        {% if body %}<div class="dialog-body" {% if body_id %}id="{{ body_id }}"{% endif %}>{{ body }}</div>{% endif %}
        {% if footer %}<div class="dialog-footer">{{ footer }}</div>{% endif %}
    </div>
</dialog>
