<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/generic/update.html" %}
{% load i18n %}

{% block form %}
    {% if submissions %}
        <div class="alert alert-info">
            <div>
                {% translate "This access code was used for the following proposals:" %}
                <ul>
                    {% for submission in submissions %}
                        <li>
                            <a href="{{ submission.orga_urls.base }}">{{ submission.title }}</a>
                            {% include "cfp/event/fragment_state.html" with state=submission.state as_badge=True %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% include "orga/includes/base_form.html" %}
{% endblock form %}
