{% extends "orga/cfp/question/_form.html" %}
{% comment %}
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}

{% block form %}
    <form id="question-toggle-form" method="post" action="{{ question.urls.toggle }}" class="d-none">
        {% csrf_token %}
    </form>
    {{ block.super }}
{% endblock form %}

{% block warnings %}
    {% if question.answers.count %}
        <div class="col-md-9 offset-md-3">
            {% #alert level="warning" %}
            {% blocktranslate trimmed %}
                This custom field already has responses from some speakers – please consider carefully if modifying it
                would render those answers obsolete. You could also deactivate this field and create a new one instead.
            {% endblocktranslate %}
            {% /alert %}
        </div>
    {% endif %}
    <div class="col-md-9 offset-md-3">
        {% #alert level="info" %}
        {% if question.active %}
            {{ phrases.orga.custom_field_active }}
            {% #slot actions %}
            <button type="submit" form="question-toggle-form" class="btn btn-sm btn-outline-danger">
                {% translate "Hide field" %}
            </button>
            {% /slot %}
        {% else %}
            {{ phrases.orga.custom_field_inactive }}
            {% #slot actions %}
            <button type="submit" form="question-toggle-form" class="btn btn-sm btn-success">
                {% translate "Activate field" %}
            </button>
            {% /slot %}
        {% endif %}
        {% /alert %}
    </div>
{% endblock warnings %}
