<!--
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_title %}{% translate "Download" %} :: {% endblock extra_title %}

{% block content %}
    <h2>{% block async_download_title %}{% translate "Download" %}{% endblock async_download_title %}</h2>

    <div hx-get="?async_id={{ async_id }}"
         hx-trigger="every 2s"
         hx-swap="innerHTML">
        {% include "orga/includes/async_download.html#waiting-spinner" %}
    </div>
{% endblock content %}
