<!--
SPDX-FileCopyrightText: 2024-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms

This file contains Apache-2.0 licensed contributions copyrighted by the following contributors:
SPDX-FileContributor: Florian Moesch
-->

<form method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}{% if form_class %} class="{{ form_class }}"{% endif %}>
    {% csrf_token %}
    {{ form }}
    {% for extra_form in extra_forms %}
        <fieldset>
            {% if extra_form.label %}<legend>{{ extra_form.label }}</legend>{% endif %}
            {{ extra_form }}
        </fieldset>
    {% endfor %}
    {% include "orga/includes/submit_row.html" %}
</form>
