<!--
SPDX-FileCopyrightText: 2018-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms

Include context:
  - plugin: The plugin meta object with name, module, version, author, description
-->
{% load i18n %}
{% load rich_text %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        {% if plugin.author %}
            <p class="meta">
                {% blocktranslate trimmed with v=plugin.version a=plugin.author %}
                    Version {{ v }} by <em>{{ a }}</em>
                {% endblocktranslate %}
            </p>
        {% else %}
            <p class="meta">
                {% blocktranslate trimmed with v=plugin.version a=plugin.author %}
                    Version {{ v }}
                {% endblocktranslate %}
            </p>
        {% endif %}
        {{ plugin.description|rich_text }}
    </li>
</ul>
