<!--
SPDX-FileCopyrightText: 2026-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}

<div class="filter-group">
    <form class="search-form" role="search">
        {{ filter_form.role.as_field_group }}
        {% if filter_form.arrived %}{{ filter_form.arrived.as_field_group }}{% endif %}
        <div class="d-flex flex-column form-group">
            {{ search_form }}
            <div id="fulltext-toggle" class="d-none">{{ filter_form.fulltext.as_field_group }}</div>
        </div>
        {% if request.GET.question %} <input type="hidden" name="question" value="{{ request.GET.question }}"> {% endif %}
        {% if request.GET.answer__options %} <input type="hidden" name="answer__options" value="{{ request.GET.answer__options }}"> {% endif %}
        {% if request.GET.answer %} <input type="hidden" name="answer" value="{{ request.GET.answer }}"> {% endif %}
        <button class="btn-info" type="submit">{% translate "Search" %}</button>
    </form>
</div>
