<!--
SPDX-FileCopyrightText: 2018-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

<div class="submit-group flex-row-reverse">
  <span>
    {{ extra_content_right }}
    {% for button in submit_buttons %}
      {{ button }}
    {% empty %}
      {% include "common/ui/button.html" with type="submit" size="lg" color="success" icon="check" label=phrases.base.save %}
    {% endfor %}
  </span>
  <span>
    {% for button in submit_buttons_extra %}
      {{ button }}
    {% endfor %}
  </span>
</div>
