<!--
SPDX-FileCopyrightText: 2024-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load thumbnail %}
<span class="user-name-display">{{ user.get_display_name }}
  {% if not request.event or request.event.cfp.request_avatar %}
    {% if user.profile_picture_id and user.profile_picture.avatar %}
      {% if lightbox %}<a href="{{ user.profile_picture.avatar.url }}" data-lightbox>{% endif %}
      <img loading="lazy" src="{{ user.profile_picture.avatar|thumbnail:'tiny' }}">
      {% if lightbox %}</a>{% endif %}
    {% endif %}
  {% endif %}
</span>
