// SPDX-FileCopyrightText: 2022-present Tobias Kunze
// SPDX-License-Identifier: Apache-2.0

variables()
// normalize-css()
// base()
// typography()
components()
scrollbars()

html, body
	margin: 0

.bunt-scrollbar
	min-height: 0 // firefox can fuck off into space

.bunt-tooltip
	white-space: normal
	max-width: 200px
	height: auto
	line-height: 1.4
	padding: 8px
	background-color: rgba(0, 0, 0, 0.85)
