{% extends "orga/base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
<link href="{% static "vendored/bootstrap-colorpicker.min.css" %}" rel="stylesheet">
<script type="text/javascript" src="{% static "vendored/bootstrap-colorpicker.min.js" %}"></script>
<div class="flex-container">
    <div class="flex-content">
        {% block settings_content %}
        {% endblock %}
    </div>
    <div class="flex-sidebar">
        {% include "common/logs.html" with obj=request.event %}
    </div>
</div>
{% endblock %}
