<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% for row in rows %}
    <tr>
        {% if row.label is not None %}
            <td{% if row.rowspan %} rowspan="{{ row.rowspan }}"{% endif %}>
                {% if row.question %}<a href="{{ row.question.orga_urls.base }}">{% endif %}
                {{ row.label }}
                {% if row.question %}</a>{% endif %}
            </td>
        {% endif %}
        <td>
            {% if row.language %}
                <div lang="{{ row.language }}">{{ row.old|default:"–" }}</div>
            {% else %}
                {{ row.old|default:"–" }}
            {% endif %}
        </td>
        <td>
            {% if row.language %}
                <div lang="{{ row.language }}">{{ row.new|default:"–" }}</div>
            {% else %}
                {{ row.new|default:"–" }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
