<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}
{% for submission in record.submissions.all %}
    <div class="d-flex align-items-center">
        {% if show_tracks and submission.track %}
            <div class="color-square" style="background-color: {{ submission.track.color }}" title="{{ submission.track.name }}">
            </div>
        {% endif %}
        <a href="{{ submission.orga_urls.base }}">
            {{ submission.title }}
        </a>
    </div>
{% endfor %}