<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}
<div class="text-right d-flex align-items-center justify-content-end">
    {% if record.attachments %}
        <i class="fa fa-paperclip mr-2" title="{% translate "Contains an attachment" %}"></i>
    {% endif %}
    {% if record.template and record.template.role %}
        {% include "orga/includes/mail_template_role.html" with template=record.template %}
    {% endif %}
</div>
