<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}

{% if table.can_accept_submissions %}
    <span class="action-row d-flex justify-space-around">
        <div class="radio form-check accept">
            <input type="radio" id="a-all" name="s-all" value="accept">
            <label for="a-all" title="{% translate "Accept all" %}"></label>
        </div>
        <div class="radio form-check reject">
            <input type="radio" id="r-all" name="s-all" value="reject">
            <label for="r-all" title="{% translate "Reject all" %}"></label>
        </div>
        <div class="unmark-radio always-active" id="u-all" title="{% translate "Unset accept/reject vote for all" %}">
            <i class="fa fa-ban"></i>
        </div>
    </span>
{% endif %}
