<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}
<div class="submission-featured">
    <div class="mt-1 form-check" title="{% translate 'Show this proposal in the list of featured sessions.' %}">
        <input
            type="checkbox"
            id="featured_{{ record.code }}"
            data-id="{{ record.code }}"
            class="submission-featured"
            {% if record.is_featured %}checked{% endif %}
        >
        <label for="featured_{{ record.code }}"></label>
    </div>
    <i class="working fa fa-spinner animate-spin d-none"></i>
    <i class="done fa fa-check d-none"></i>
    <i class="fail fa fa-times d-none"></i>
</div>
