<!--
SPDX-FileCopyrightText: 2025-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% load i18n %}
{% if record.track and not record.is_anonymised %}
    <div class="color-square" style="background-color: {{ record.track.color }}" title="{{ record.track.name }}"></div>
{% else %}
    <i class="fa fa-user-secret" style="color: {{ record.track.color|default:'#888' }}" title="{{ record.track.name }}, {% translate "anonymised" %}" aria-hidden="true"></i>
{% endif %}
