<!--
SPDX-FileCopyrightText: 2021-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/base.html" %}

{% load i18n %}

{% block extra_title %}{% translate "Apply pending changes" %} :: {% endblock extra_title %}

{% block content %}
    <h3>
        {% blocktranslate with count=submission_count trimmed %}
            Apply {{ count }} pending changes?
        {% endblocktranslate %}
    </h3>
    <p>
        {% if submission_count %}
            {% blocktranslate trimmed %}
                Please confirm that you really want to change the state of these {{ count }} proposals.
            {% endblocktranslate %}

        {% else %}
            <p>
                {% translate "There are no pending changes to apply right now." %}
        {% endif %}
    </p>
    {% include "orga/includes/base_form.html" %}
{% endblock content %}
