<!--
SPDX-FileCopyrightText: 2019-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms

This file contains Apache-2.0 licensed contributions copyrighted by the following contributors:
SPDX-FileContributor: michalpirchala
-->

{% extends "orga/base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block extra_title %}{% translate "Attendee feedback" %} :: {% endblock extra_title %}

{% block content %}
    <h2 class="d-flex w-100 justify-content-between align-items-start">{% translate "Attendee feedback" %}</h2>

    {% render_table table %}

{% endblock content %}
