{% extends "orga/submission/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2026-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}

{% block submission_title %}{% translate "Attendees" %} ::
{% endblock submission_title %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'common/css/ui/progress.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/ui/signup.css' %}">
{% endblock stylesheets %}

{% block submission_content %}
    <h3>
        {% translate "Settings" %}
    </h3>
    <form method="post">
        {% csrf_token %}
        {{ form.attendee_signup_capacity.as_field_group }}
        {% if not form.read_only %}
            {% include "orga/includes/submit_row.html" %}
        {% endif %}
    </form>

    <h4 class="mt-4 pt-4">{% translate "Attendees" %}</h4>
    <div class="mb-4">
        {% include "common/includes/signup_progress.html" %}
    </div>
    <div class="filter-group">
        <form class="search-form" role="search">
            {{ filter_form }}
            <button class="btn btn-info" type="submit">
                <i class="fa fa-filter"></i>
                {{ phrases.base.filter_action }}
            </button>
        </form>
    </div>
    {% render_table table %}
{% endblock submission_content %}
