{% extends "orga/submission/base.html" %}
{% comment %}
SPDX-FileCopyrightText: 2017-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
{% endcomment %}

{% load i18n %}

{% partialdef pill %}
    {% include "cfp/event/fragment_state.html" with state=submission.state pending_state=target as_badge=True with_pending=True %}
{% endpartialdef %}

{% partialdef dialog_pill %}
    <div class="state-change-pill">{% partial pill %}</div>
{% endpartialdef %}

{% block submission_title %}→ {{ target }} ::
{% endblock submission_title %}

{% block submission_content %}
    <div class="col-md-9 offset-md-3">
        {% #page_heading %}
        {% partial pill %}
        {% /page_heading %}
        <p>{{ action_text }}</p>
    </div>
    {% include "orga/includes/base_form.html" %}
{% endblock submission_content %}
