<!--
SPDX-FileCopyrightText: 2018-present Tobias Kunze
SPDX-License-Identifier: AGPL-3.0-only WITH LicenseRef-Pretalx-AGPL-3.0-Terms
-->

{% extends "orga/event/wizard/base.html" %}

{% load i18n %}

{% block wizard_content %}
    <div class="alert alert-info col-md-9 offset-md-3">
        {% translate "You can copy settings from previous events here, such as mail settings, session types, and email templates. Please check those settings once the event has been created!" %}
    </div>
{% endblock wizard_content %}
