# SPDX-FileCopyrightText: 2023-present Tobias Kunze
# SPDX-License-Identifier: Apache-2.0

name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'src/pretalx/locale/**'
      - 'doc/**'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'src/pretalx/locale/**'
      - 'doc/**'

permissions:
  contents: read  #  to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  packaging:
    runs-on: ubuntu-latest
    name: Packaging
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - uses: extractions/setup-just@v2
      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'
      - name: Install system dependencies
        run: sudo apt update && sudo apt install -y gettext unzip
      - name: Install Python dependencies
        run: just install --extra dev && uv pip install --system wheel
      - name: Install frontend dependencies
        run: just run collectstatic --npm-install
      - name: Run check-manifest
        run: just release-checks
      - name: Install the created wheel package with pip
        run: |
          # Switch to a new virtualenv
          mkdir test_venv
          uv venv test_venv
          . test_venv/bin/activate

          uv pip install dist/pretalx*whl
      - name: Make sure we can run pretalx commands
        run: uv run pretalx help
      - name: Make sure we can run through all migrations
        run: uv run pretalx migrate
