# SPDX-FileCopyrightText: 2024-present Tobias Kunze
# SPDX-License-Identifier: Apache-2.0

name: Strings

on:
  push:
    branches: [ main ]
    paths:
      - 'src/pretalx/locale/**'
      - 'pyproject.toml'
  pull_request_target:
    branches: [ main ]
    paths:
      - 'src/pretalx/locale/**'
      - 'pyproject.toml'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  compile:
    runs-on: ubuntu-latest
    name: Check that translation files compile
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".github/workflows/python-version.txt"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: extractions/setup-just@v3
      - name: Install system dependencies
        run: |
          sudo apt clean
          sudo apt update
          sudo apt install -y gettext
      - name: Install Python dependencies
        run: just install --extra dev
      - name: Compile locales
        run: just run compilemessages

      - name: Update translation percentages
        if: github.event_name == 'pull_request_target'
        run: just run update_translation_percentages

      - name: Commit updated translation percentages
        if: github.event_name == 'pull_request_target'
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update translation percentages"
          file_pattern: "*translation_percentages.json"
          commit_user_name: "pretalx-translations"
          commit_user_email: "translate@pretalx.com"
          commit_author: "pretalx-translations <translate@pretalx.com>"
